@model HandleErrorInfo

@{
    ViewBag.Title = "Fehler";
}

<h1 class="text-danger">Fehler</h1>
<h2 class="text-danger">@Html.DisplayFor(m => m.Exception.Message)</h2>

<hr />

@{
    object RouteValues = ViewBag.RouteValues;
    @Html.ActionLink("Zurück", Model.ActionName, Model.ControllerName, RouteValues);
}

